body{
	background-color : #ecf0f1;
	font-family: Calibri,sans-serif;
}

h1{
	font-size : 4.5em;
	color : #2980b9;
	text-align : center;
}

h2{
	font-size: 2em;
	color : #8e44ad;
	text-align : center;
}

p{
	font-size : 1em;
	color : #ecf0f1;
	text-align : center;
}

h3{
	font-size : 1.5em;
	font-family : Courier;
	text-align : center;
	color : #16a085;
}

/*#blockline{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -15.5em;
	margin-left: -50em;
	width: 100em;
	height: 40em;
}

.blocks{
	display: inline-block;
	height : 3em;
	width : 3em;
	background-color : #e74c3c;
	align:center;
}
*/


